AI_Customer_Support_Agent.json
{
  "name": "AI Customer Support Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a95f57e6-aa26-4ac6-bfe4-4a8d9e699c3f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "i8HvRE3D2hdIhuiA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d32dbaad-34b7-49af-97e3-34699ebe4f82",
              "name": "emailBody",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "ac644649-c36e-4d11-bac8-c2eda00c34ef",
              "name": "threadID",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "3a9f24bd-2b0e-487c-82ff-c7198fcddd29",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "daf14c3f-fe5f-410e-b01b-b1f3a80accd8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Prompt:\nAnalyze the content of the following email and determine whether it is related to customer support. If it is mark customerSupport as true, otherwise mark it as false.\n\nOutput:\nProvide the result in JSON format with a field named \"customerSupport\" set to true or false.",
              "role": "system"
            },
            {
              "content": "=Here is the incoming email: {{ $json.emailBody }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        440,
        0
      ],
      "id": "ad60c206-573e-4b4c-bec9-1a362d03a3ae",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2F2ame2WCC5UCojD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.customerSupport }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "723f4842-f2ba-4dde-8b9d-409f03260351"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Customer Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "92501c99-7002-4dea-874d-9bed97d876ac",
                    "leftValue": "={{ $json.message.content.customerSupport }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ignore"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        0
      ],
      "id": "7dc74788-fba9-4e16-91a9-4cbd30575380",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.emailBody }}",
        "options": {
          "systemMessage": "# System Role\nYou are a highly skilled and empathetic customer support agent specializing in drafting professional and helpful responses to incoming customer emails.\n\n# Task Specification\n1. Take an incoming customer support email.\n2. Use the **\"customerSupportDocs\"** tool to look up relevant policies or FAQs to ensure accurate and policy-compliant responses.\n3. Create a draft response using the **\"createDraft\"** tool.\n4. After drafting the email, provide a concise summary of the email content.\n\nEnsure the response:\n- Directly addresses the customer's query.\n- Maintains a polite and professional tone.\n- Ends with the sign-off:  \n  **\"Kelly, Customer Support ABC Corp.\"**\n\n# Specifics and Context\n- You must use the **\"customerSupportDocs\"** tool before drafting to ensure the response aligns with company policies and FAQs.\n- The **\"createDraft\"** tool must be used to finalize and prepare the draft for sending.\n- The summary should briefly explain the issue addressed and the key points or resolution provided in the response.\n\n# Examples\n## Example 1\n**Incoming Email:**  \n\"I ordered a product a week ago, but it still hasn't shipped. When will it arrive?\"\n\n**customerSupportDocs Search Query:**  \n\"shipping timelines\"\n\n**Relevant Info Found:**  \nStandard shipping takes 7–10 business days. Delays may occur during high-demand periods.\n\n**Draft Response (via createDraft):**  \nDear [Customer's Name],  \n\nThank you for reaching out regarding your order. Standard shipping typically takes 7–10 business days. However, during high-demand periods, there may be slight delays.  \n\nI’ve checked your order, and it’s currently being prepared for shipment. You should receive a tracking number shortly. If you have any further questions, feel free to let me know.  \n\nBest regards,  \nKelly, Customer Support ABC Corp  \n\n**Summary:**  \nDrafted a response to inform the customer about shipping timelines (7–10 business days) and noted that their order is being prepared for shipment. Included reassurance and an invitation for further inquiries.\n\n---\n\n## Example 2\n**Incoming Email:**  \n\"I tried to cancel my subscription but was still charged this month. Can I get a refund?\"\n\n**customerSupportDocs Search Query:**  \n\"subscription cancellation policy\"\n\n**Relevant Info Found:**  \nCancellations must be made 48 hours before the next billing cycle to avoid charges.\n\n**Draft Response (via createDraft):**  \nDear [Customer's Name],  \n\nThank you for contacting us about your subscription charge. Our records show the cancellation was processed after the billing cycle had begun. To avoid future charges, cancellations must be made at least 48 hours prior to the next billing cycle.  \n\nAs a courtesy, I’ve initiated a refund for this month’s charge. Please allow 3–5 business days for the refund to appear on your statement.  \n\nIf you have any other questions, feel free to reach out.  \n\nBest regards,  \nKelly, Customer Support ABC Corp  \n\n**Summary:**  \nDrafted a response explaining the subscription cancellation policy (48-hour notice) and initiated a one-time refund as a courtesy. Provided reassurance and invited further questions.\n\n# Reminders\n- Always use **\"customerSupportDocs\"** to ensure responses align with company policies and FAQs.\n- Use the **\"createDraft\"** tool to finalize the email draft.\n- Summarize the draft concisely, covering the issue addressed and the resolution or key points provided.\n- Maintain a polite, professional, and empathetic tone.\n- Always sign off as:  \n  **\"Kelly, Customer Support ABC Corp.\"**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1060,
        -60
      ],
      "id": "18020e73-b642-49f3-ad49-d106c01886fd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        980,
        240
      ],
      "id": "80b88e9d-7aac-464b-b94b-e7ec5fa6b140",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2F2ame2WCC5UCojD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1DiWqHbSpDxsh6rC2UDz42ODNwFMXdb4i",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1DiWqHbSpDxsh6rC2UDz42ODNwFMXdb4i"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        220
      ],
      "id": "c323714a-a272-4967-bb30-a74ff10ca408",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "odFA5keMN8HtyRxN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        220
      ],
      "id": "314a7ac2-e850-47ba-9032-5500108f8c82",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "odFA5keMN8HtyRxN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "project",
          "mode": "list",
          "cachedResultName": "project"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        440,
        220
      ],
      "id": "b0b5b620-fcce-4708-a2da-2daccc1b43fe",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "LTVXvBkcrfGE0vc2",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        380,
        400
      ],
      "id": "60456c37-5fa5-4f4b-82ae-e7f195e80ef6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2F2ame2WCC5UCojD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        520,
        400
      ],
      "id": "ba7a050f-9301-4fb8-941b-f9371c5b046f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        600,
        560
      ],
      "id": "164e73be-5031-486f-8136-8ec939f6d843",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "description": "Policies and FAQs about the gym"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1220,
        160
      ],
      "id": "a370f10e-62f6-43bb-a5c0-6537b9b1cfe7",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1360,
        380
      ],
      "id": "b18791e8-bf00-44e2-b2e9-01a1395b204e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "2F2ame2WCC5UCojD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "project",
          "mode": "list",
          "cachedResultName": "project"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        1040,
        380
      ],
      "id": "607199e7-ecf6-44fa-b0ce-71a6294ec26b",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "LTVXvBkcrfGE0vc2",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1140,
        600
      ],
      "id": "fd520df2-f70f-419e-a809-134b5e18242b",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "2F2ame2WCC5UCojD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "threadId": "={{ $('Edit Fields').item.json.threadID }}",
          "sendTo": "={{ $('Edit Fields').item.json.from }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1580,
        160
      ],
      "id": "b50eabf3-4ee6-406f-8087-0da2b569b7a9",
      "name": "Gmail",
      "webhookId": "0f0be578-d128-4899-a860-a72b6f044829",
      "credentials": {
        "gmailOAuth2": {
          "id": "i8HvRE3D2hdIhuiA",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "91bc012f-2e15-4ca8-8825-18f0f3662a9b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff10a97411669062fdee4046058c81df0e67dbbea84a99a92d92fcd6e20dd24c"
  },
  "id": "TlC6DG2rs3GWuuyQ",
  "tags": []
}